h1 /* overrides only */
{
  color: #76cbf8;
}

h2 /* overrides only */
{
  color: #70a9b8;
}

h3 /* overrides only */
{
  color: #70a9b8;
}

h4 /* overrides only */
{
  color: #70a9b8;
}

p /* overrides only */
{
  color: #bcbe96;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\interChecker.svg");
  border-color:#86acbadb;
}

.planet
{
  position:absolute;
}