html 
{
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar
{ 
    display: none;  /* Older Safari and Chromium */
}
body 
{
  background-color: #000000;
  background-image: url("../images/stars_color.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  border: 0;
}
img
{
  image-rendering: pixelated;
}