html 
{
  overflow-y: scroll; /* Prevent page from shifting when scrollbar appears. Watch out for permanent scrollbar on some browsers? */
}
body 
{
  background-color: #000000;
  background-image: url("../images/stars_color.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img
{
  image-rendering: pixelated;
}