h1 
{
  color: #ff0000;
  
  font-family:Helvetica,Arial;
  font-size:48px;
  margin-top:0px;
  margin-bottom:0px;
  line-height:1;
  border:none;
  padding:0px;
}

h2 
{
  color: #ff0000;

  font-family:Helvetica,Arial;
  font-size:29.5px;
  margin-top:22px;
  margin-left:12px;
  margin-bottom:0px;
  line-height:1;
  border:none;
  padding:0px;
}

h3 
{
  color: #ff0000;

  font-family:Helvetica,Arial;
  font-size:29.5px;
  margin-top:26px;
  margin-left:12px;
  margin-bottom:0px;
  line-height:1;
  border:none;
  padding:0px;
}

h4 
{
  color: #ff0000;

  font-family:Helvetica,Arial;
  font-size:24px;
  margin-top:23px;
  margin-left:12px;
  margin-bottom:0px;
  line-height:1;
  border:none;
  padding:0px;
}

p 
{
  color: #ff0000;

  font-family:Helvetica,Arial;
  border:none;
}

div 
{
  width:744px; /* Must be... multiple of 16 + 8? Something about it starts off at 24px so it should be (size you want) - 24px*/
  margin:auto;
  border:none;
}

iframe 
{
  width:670px; /* Must be even multiple of 16! - 2px*/
  height:334px; /* Must be even multiple of 16! - 2px*/
  margin:auto;
  margin-top:22.5px;
  margin-bottom:29.5px;
  padding:0px;
  display:block;
  border:none;
  border-radius: 12px;
}

.box{ /* Override background image and border color in page-specific css */
  background-image: url("..\\images\\checkers\\checker.svg");
  border-color:#86acbadb;

  -moz-border-radius: 12px;
  border-style:solid;
  border-radius: 12px;
  border-width:1.5px;
  margin-bottom: 21px;
  padding-right: 12px;
  padding-left: 12px;
}

.bodyText
{
  width:670px; /*iframe width */
  margin:auto;
  font-size:18px;
  font-family:Helvetica,Arial;
  margin-top:26px;
  margin-bottom:19.5px;
  line-height:1.333333333;
}


#headerBox
{
  width:780px;
  position:relative;
  overflow:hidden;
}

#headerLeft
{
  width:560px;
  float:left;
  position:relative;
  text-align:left;
  padding: 12px;
  margin: 0;
  list-style-type: none;
}

#headerRight
{
  width:166px;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:12px;
  float:right;
  position:relative;
  text-align:left;
  line-height: 150%;
}

#planet
{
  height:102px;
  width:102px;
  display:block;
  margin:auto;
}

#footerBox
{
  width:780px;
  position:relative;
  overflow:hidden;
  text-align: center;
}

.icon
{
  opacity: 50%;
  width: 32px;
  height: 32px;
  image-rendering:crisp-edges;
  margin: 8px;
}