#navbar
{
    width:744px;
    height:72px;
    min-height: 72px;
    position:relative;
    overflow:hidden;
    margin:auto;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-right: 12px;
    padding-left: 12px;
}

#sun
{
    left:34px;
}

#mercury
{
    left:111px;
}

#venus
{
    left:177px;
}

#earth
{
    left:249px;
}

#mars
{
    left:318.5px;
}

#inter
{
    left:375px;
}

#jupiter
{
    left:439px;
}

#saturn
{
    left:525px;
}

#uranus
{
    left:603px;
}

#neptune
{
    left:675px;
}

#pluto
{
    left:736px;
}

.navbarPlanet
{
  top:50%;
  position:absolute;
  will-change: transform;
  transition: 500ms ease;
}

.navbarPlanet:hover
{
  transform: scale(1.1);
}

@media (prefers-reduced-motion: reduce) 
{
    .navbarPlanet 
    {
    transition: none;
    }
    
    .navbarPlanet:hover
    {
    transform: scale(1.05);
    }
}

