html /* This is necessary, I guess?*/ 
{
    height:100%;
    overflow:hidden;
}

body /* This is necessary, I guess?*/ 
{
    height:100%;
}

.wrapper /* Makes the two columns work*/
{
    border:0;
    margin:0;
    width:100%;
    height:100%;
    display:grid;
    overflow: hidden;
    grid-template-columns: 150px auto;
    transform: translate(-36px,0);
}

#projectList /* Left side, anchored on its own, table?*/
{
    margin: 0%;
    width: 100%;
    height: 100%;
    grid-column: 1;

    right:0;
    text-align: right;

    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#projectList::-webkit-scrollbar 
{ 
    display: none;  /* Older Safari and Chromium */
}

.projectListItem
{
    width:100%;
    height:36px;

    opacity: 50%;
    border-width: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #ff0000;
    background-color: #ff0000;

    margin-top:5px;
    margin-bottom: 5px;
    position: relative;
    transform:translateX(-35px);
}

.projectListText
{
    color:#FF0000;
    margin-top: 9px;
    margin-right:6px;
    margin-bottom: 9px;
    pointer-events: none; /* Make the text non-highlightable (makes it look more like a button) */ 
}

#col2
{
    top:0;
    width: 100%;
    height:100%;
    
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#col3
{
    margin: 0%;
    width: 36px;
    height: 100%;
    grid-column: 1;

    right:0;
    text-align: left;

    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#col3::-webkit-scrollbar 
{
    display: none;  /* Older Safari and Chromium */
}

#contentBox
{
    width:744px; /* Must be... multiple of 16 + 8? Something about it starts off at 24px so it should be (size you want) - 24px*/
    margin:auto;
    border:none;
    height:100%;
}
#contentBox::-webkit-scrollbar 
{ 
    display: none;  /* Older Safari and Chromium */
}

#project /* Centered (offset due to list, need to fix) */
{
    border-color:#ff0000db;
    background-image: url("..\\images\\checkers\\checker.svg");

    border-style:solid;
    border-width:1.5px;
    padding-left: 12px;
    border-radius: 12px;
    margin-bottom: 21px;
    padding-right: 12px;
    border-radius: 12px;
    
}

.projectText
{
    width:670px; /*iframe width */
    margin:auto;
    font-size:18px;
    margin-top:26px;
    margin-bottom:19.5px;
    line-height:1.333333333;
    font-family:Helvetica,Arial;  
}