#settingsButton
{
    cursor:pointer;
    width:48px;
    height:48px;
    position:absolute;
    top:0%;
    right:0%;
    translate:-12px 12px;
    transform-origin: center;
    z-index: 2001;
}

#settingsPage
{
    position:absolute;
    top:0%;
    right:0%;
    border-style:solid;
    border-width:2px;
    border-color:#ccc;
    border-radius:10px;
    background-image: url("/images/checkers//checkerFFFFFF80.svg");
    width: 300px;
    height: 100%;
    transform:translate(304px,0px);
    z-index: 2001;

    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#settingsPage::-webkit-scrollbar
{ 
    display: none;  /* Older Safari and Chromium */
}

#pageDimmer
{
    position: absolute;
    top:0%;
    right:0%;
    width: 100%;
    height: 100%;
    border: none;
    margin: none;
    background-color: #000c;
    opacity: 0%;
    z-index: 2000;
    pointer-events:none;
}

.settingsText
{
    width:240px;
    margin:auto;
    margin-left:26px;
    border:0;
    padding:0;
    font-size:18px;
    font-family:Helvetica,Arial;
    margin-top:26px;
    margin-bottom:24px;
    line-height:1.333333333;
}

.setting
{
    margin:auto;
    margin-left:26px;
    border:0;
    padding:0;
    font-size:18px;
    font-family:Helvetica,Arial;
    margin-top:0px;
    margin-bottom:30px;
    line-height:1.333333333;
}

.settingLabel
{
    margin:auto;
    margin-left:10px;
    border:0;
    padding:0;
    font-size:18px;
    font-family:Helvetica,Arial;
    margin-top:0px;
    margin-bottom:24px;
    line-height:1.333333333;
}