#settingsButton
{
    cursor:pointer;
    width:48px;
    height:48px;
    position:absolute;
    top:0%;
    right:0%;
    transform:translate(-12px,12px);
}

#settingsPage
{
    position:absolute;
    top:0%;
    right:0%;
    border-style:solid;
    border-width:2px;
    border-color:#fffb;
    border-radius:10px;
    background-color: #fff9;
    width: 200px;
    height: 100%;
    transform:translate(204px,0px);
    z-index: 2001;
}

#pageDimmer
{
    position: absolute;
    top:0%;
    right:0%;
    width: 100%;
    height: 100%;
    border: none;
    margin: none;
    background-color: #0000;
    z-index: 2000;
    pointer-events:none;
}