.sun
{
    width:72px;
    height:72px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-36px,-36px);
    z-index: 980;
}

.sun:hover
{
    width:76px;
    height:76px;
    transform:translate(-38px,-38px);
}

.mercury
{
    width:40px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

/* .mercury:hover
{
    width:44px;
    height:44px;
    transform:translate(-22px,-22px);
} */

.venus
{
    width:50px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

/* .venus:hover
{
    width:54px;
    height:54px;
    transform:translate(-27px,-27px);
} */

.earth
{
    width:52px;
    height:52px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.mars
{
    width:45px;
    height:45px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.jupiter
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.saturn
{
    width:85px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.uranus
{
    width:52px;
    height:52px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.neptune
{
    width:50px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.pluto
{
    width:30px;
    height: 30px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

.interloper
{
    width:30px;
    height: 30px;
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

/* .interloper:hover
{
    width:34px;
    height:34px;
    transform:translate(-17px,-17px);
} */