.sun
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 1000;
}

.mercury
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.venus
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.earth
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.mars
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.jupiter
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.saturn
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.uranus
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.neptune
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}

.pluto
{
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-32px,-32px);
    z-index: 0;
}
