h1 /* overrides only */
{
  color: #2e81ff;
}

h2 /* overrides only */
{
  color: #2e81ff;
}

h3 /* overrides only */
{
  color: #2e81ff;
}

h4 /* overrides only */
{
  color: #2e81ff;
}

p /* overrides only */
{
  color: #2e81ff;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\checker.svg");
  border-color:#2e81ffdb;
}

.planet
{
  position:absolute;
}

.icon
{
  fill:#2e81ff;
}