body {
  background-image: url("../images/stars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: #2197f1;
}
p {
  color: #4161e0;
}
div {
  width:750px;
  margin:auto;
}