h1  /* overrides only */
{
  color: #818181;
}

h2 /* overrides only */
{
  color: #999999;
}
h3  /* overrides only */
{
  color: #a6a6a6;
}

h4  /* overrides only */
{
  color: #bcbcbc;
}

p  /* overrides only */
{
  color: #c9c9c9;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\mercuryChecker.svg");
  border-color:#979797db;
}

#planetGrowShrinkDiv
{
  position:relative;
  width: 512px;
  height: 520px;
  margin: auto;
  margin-top:5.5px;
}

.testPlanet
{
    position:absolute;
    top:0%;
    left:0%;
}

.icon
{
  fill:#818181;
}