h1 /* overrides only */
{
  color: #56bbd7;
}

h2 /* overrides only */
{
  color: #56bbd7;
}

h3 /* overrides only */
{
  color: #56bbd7;
}

h4 /* overrides only */
{
  color: #56bbd7;
}

p /* overrides only */
{
  color: #56bbd7;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\checker.svg");
  border-color:#56bbd7db;
}

.planet
{
  position:absolute;
}

.icon
{
  fill:#56bbd7;
}