h1 
{
  color: #dacd98;
}

h2 
{
  color: #c9c19e;
}

p 
{
  color: #594930;
}

.projectListItem
{
    border-color: #dfdbd5;
    background-color: #b8b08f;
}

.projectListText
{
  color:#565448;
}

#project /* Centered (offset due to list?) */
{
    border-color:#d1c39adb;
    background-image: url("..\\images\\checkers\\checker.svg");
}

.icon
{
  fill:#dacd98;
}