h1 /* overrides only */
{
  color: #f8de76;
}

h2 /* overrides only */
{
  color: #f8de76;
}

h3 /* overrides only */
{
  color: #f8de76;
}

h4 /* overrides only */
{
  color: #f8de76;
}

p /* overrides only */
{
  color: #000000;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\venusChecker.svg");
  border-color:#efcf1adb;
}

.planet
{
  position:absolute;
}

.icon
{
  fill:#f8de76;
}

/*Everything related to double column format*/

#col1
{
    margin: 0%;
    width: 100%;
    height: 100%;
    grid-column: 1;

}

#col2
{
    top:0;
    width: 100%;
    height:100%;
    grid-column: 2;
}