body 
{
  background-color: #000000;
  background-image: url("../images/stars_color.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.planet
{
    position:absolute;
    top:50%;
    left:50%;
    z-index: 0;
}

img
{
    image-rendering: pixelated
}