h1 /* overrides only */
{
  color: #4a83d8;
}

h2 /* overrides only */
{
  color: #4a83d8;
}

h3 /* overrides only */
{
  color: #4a83d8;
}

h4 /* overrides only */
{
  color: #4a83d8;
}

p /* overrides only */
{
  color: #40a96c;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\checker.svg");
  border-color:#4a83dddb;
}

.planet
{
  position:absolute;
}

.icon
{
  fill:#4a83d8;
}