
h1  /* overrides only */
{
  color: #818181;
}

h2 /* overrides only */
{
  color: #999999;
}
h3  /* overrides only */
{
  color: #a6a6a6;
}

h4  /* overrides only */
{
  color: #bcbcbc;
}

p  /* overrides only */
{
  color: #c9c9c9;
}

.box /* overrides only */
{
  background-image: url("..\\images\\plutoChecker.svg");
  border-color:#979797db;
}

.buttonPanel
{
  width:250px;
  margin: auto;
}

.navButton
{
  background-color: #02ccffa5;
  color: #bababa;
  text-align: center;
  height: 22px;
}

.navButton:hover
{
  background-color: #9debffa5;
  color: #323232;
  text-align: center;
  height: 22px;
}

#comic
{
  width:670px; /*iframe width */
  margin:auto;
  margin-top:20.5px;
  margin-bottom:18px;
}