
h1  /* overrides only */
{
  color: #e0c38b;
}

h2 /* overrides only */
{
  color: #c6a981;
}
h3  /* overrides only */
{
  color: #c6a981;
}

h4  /* overrides only */
{
  color: #c39f78;
}

p  /* overrides only */
{
  color: #c39f78;
}

.box /* overrides only */
{
  background-image: url("..\\images\\checkers\\plutoChecker.svg");
  border-color:#a77d63db;
}

.buttonPanel
{
  width:250px;
  margin: auto;
}

.navButton
{
  background-color: #a77d63a5;
  color: #bababa;
  text-align: center;
  height: 24px;
  transform: translate(0,-6px);
  text-decoration: none;
}

.navButton:hover
{
  background-color: #be9b85a5;
  color: #323232;
  text-align: center;
  height: 22px;
  text-decoration: none;
}

.buttonLink
{
  text-decoration: none;
}

#comic
{
  width:670px; /*iframe width */
  margin:auto;
  margin-top:20.5px;
  margin-bottom:18px;
}