h1 
{
  color: #dacd98;
}
h2 
{
  color: #ceb75e;
}
p 
{
  color: #d1be84; 
}

.projectListItem
{
    border-color: #e8c285;
    background-color: #ffcc00;
}

.projectListText
{
  color:#6c2100;
}

#project /* Centered (offset due to list?) */
{
    border-color:#dec67ddb;
    background-image: url("..\\images\\checkers\\jupiterChecker.svg");
}

.icon
{
  fill: #dacd98;
}